/** General Padding Styles **/
@for $amt from 1 through 50 {
  $amtsize: $amt * 5;
  // Width
  .width-#{amtsize} {
    width: #{amtsize}px;
  }

  // Positive Paddings
  .padding-#{$amtsize} {
    padding: #{$amtsize}px;
  }

  .padding-top-#{$amtsize} {
    padding-top: #{$amtsize}px;
  }

  .padding-bottom-#{$amtsize} {
    padding-bottom: #{$amtsize}px;
  }

  .padding-left-#{$amtsize} {
    padding-left: #{$amtsize}px;
  }

  .padding-right-#{$amtsize} {
    padding-right: #{$amtsize}px;
  }

  // Negative Paddings
  .padding-top-neg-#{$amtsize} {
    padding-top: -#{$amtsize}px;
  }

  .padding-bottom-neg-#{$amtsize} {
    padding-bottom: -#{$amtsize}px;
  }

  .padding-left-neg-#{$amtsize} {
    padding-left: -#{$amtsize}px;
  }

  .padding-right-neg-#{$amtsize} {
    padding-right: -#{$amtsize}px;
  }

  // Positive Margins
  .margin-#{$amtsize} {
    margin: #{$amtsize}px;
  }

  .margin-top-#{$amtsize} {
    margin-top: #{$amtsize}px;
  }

  .margin-bottom-#{$amtsize} {
    margin-bottom: #{$amtsize}px;
  }

  .margin-left-#{$amtsize} {
    margin-left: #{$amtsize}px;
  }

  .margin-right-#{$amtsize} {
    margin-right: #{$amtsize}px;
  }

  // Negative Margins
  .margin-top-neg-#{$amtsize} {
    margin-top: -#{$amtsize}px;
  }

  .margin-bottom-neg-#{$amtsize} {
    margin-bottom: -#{$amtsize}px;
  }

  .margin-left-neg-#{$amtsize} {
    margin-left: -#{$amtsize}px;
  }

  .margin-right-neg-#{$amtsize} {
    margin-right: -#{$amtsize}px;
  }
}

@for $amt from 1 through 20 {
  $amtsize: $amt;
  .no-border-radius-top-#{$amtsize} {
    border-radius: 0 0 #{$amtsize}px #{$amtsize}px;
  }

  .no-border-radius-bottom-#{$amtsize} {
    border-radius: #{$amtsize}px #{$amtsize}px 0 0;
  }
}

.no-padding {
  padding: 0;
}

.no-side-padding {
  padding-left: 0;
  padding-right: 0;
}

.no-vertical-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.padding {
  padding: 10px;
}

.no-padding-top {
  padding-top: 0;
}


.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

/** General Margin Styles **/
.no-margin {
  margin: 0;
}

.margin-auto {
  margin: auto;
}

.no-side-margins {
  margin-left: 0;
  margin-right: 0;
}

.no-vertical-margins {
  margin-top: 0;
  margin-bottom: 0;
}

.margin {
  margin: 10px;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-left {
  margin-left: 0;
}

.no-margin-right {
  margin-right: 0;
}
