<div class="routines-container">
  <udh-list-container>
    <udh-card></udh-card>
    <udh-card title="Another Title"></udh-card>
    <udh-card title="Another Title Here"></udh-card>
  </udh-list-container>
  <udh-list-container></udh-list-container>
  <udh-list-container></udh-list-container>
  <udh-list-container></udh-list-container>
  <udh-list-container></udh-list-container>
  <udh-list-container></udh-list-container>
  <udh-list-container></udh-list-container>
  <udh-list-container></udh-list-container>
  <udh-list-container></udh-list-container>

  <div class="add-list-button">
    <button md-raised-button color="primary" mdTooltip="New Routine">
      <i class="mdi mdi-plus"></i> Add New Routine
    </button>
  </div>
</div>

<!-- <md-card class="header">
  Dan's Routine

  <div class="speed-dial-wrapper">
    <udh-fab-speed-dial direction="left">
      
      <button udh-fab-trigger md-fab color="accent"
              mdTooltip="New Routine Task" mdTooltipPosition="above"
              (click)="onNewRoutineTask()">
        <i class="mdi mdi-checkbox-marked-circle-outline"></i>
      </button>

      <udh-fab-actions>
        <button md-mini-fab color="primary" mdTooltip="Music" mdTooltipPosition="above">
          <i class="mdi mdi-music-note"></i>
        </button>

        <button md-mini-fab color="primary" mdTooltip="Scriptures" mdTooltipPosition="above">
          <i class="mdi mdi-book"></i>
        </button>
      </udh-fab-actions>
    </udh-fab-speed-dial>
  </div>
</md-card>
<md-card class="body">
  <md-list>
    <udh-routine-item
        *ngFor="let task of routineTasks"
        [udhItemTitle]="task?.title"
        [udhItemDescription]="task?.description"
        [udhItemIcon]="task?.icon">
      <button md-icon-button *ngFor="let button of task?.buttons"
              [mdTooltip]="button?.tooltipText" mdTooltipPosition="above">
        <i [class]="button?.icon"></i>
      </button>
    </udh-routine-item>
    
    <udh-routine-item
        udhItemTitle="Wake up Music"
        udhItemDescription="Dan's Playlist on Plex"
        udhItemIcon="mdi mdi-music-note">
    </udh-routine-item>
    
    <md-divider></md-divider>

    <udh-routine-item
        udhItemTitle="Morning Snack"
        udhItemIcon="mdi mdi-checkbox-marked-circle-outline">
    </udh-routine-item>

    <md-divider></md-divider>

    <udh-routine-item
        udhItemTitle="Take Medicine"
        udhItemIcon="mdi mdi-checkbox-marked-circle-outline">
    </udh-routine-item>

    <md-divider></md-divider>

    <udh-routine-item 
        udhItemTitle="Read Scriptures"
        udhItemDescription="Passages by Chapter - Next Chapter: 1 Nephi 5"
        udhItemIcon="mdi mdi-book">
    </udh-routine-item>
    
    <md-divider></md-divider>
    <udh-routine-item
        udhItemTitle="Exercise"
        udhItemIcon="mdi mdi-checkbox-marked-circle-outline">
      <button md-icon-button mdTooltip="Set Task for a timer" mdTooltipPosition="below">
        <i class="mdi mdi-clock"></i>
      </button>

      <button md-icon-button mdTooltip="Play Music during task" mdTooltipPosition="below">
        <i class="mdi mdi-music-note"></i>
      </button>
    </udh-routine-item>
  </md-list>
</md-card>
-->
<!--
  - Exercise
    + Task with Timer
    + Play music playlist from plex for the timer amount on a certain device
  - Brush Teeth
    + Task
  - Shower
    + Task
  - Leave for work:
    + Task with List and Title
    - Don't forget to:
      + Sub-task list with Title
      - Send text with list
        - Turn off lights
        - Wallet
        - Phone
        - Keys
        - Close the garage door
      + Sub-task to confirm hands-free
-->