@import "../../styles/app.variables";

:host {
  height: 100%;
  width: 100%;

  /deep/ {
    .mat-drawer-container {
      height: 100%;

      .mat-toolbar {
        box-shadow: 0px ($udh-toolbar-shadow-length / 2) ($udh-toolbar-shadow-length / 2) #888888;
      }

      .brand-container,
      .mat-toolbar {
        display: flex;
        justify-content: center;
        z-index: 5;
        position: inherit;
        height: $udh-toolbar-height;
      }

      .mat-drawer-content {
        display: flex;
        flex-direction: column;

        @include scrollbar-styling();

        .sidenav-container {
          position: absolute;
          transform: translateX(0%);
          transition: transform 300ms;
          display: flex;
          top: $udh-sidenav-height-from-top;
          height: calc(100% - #{$udh-sidenav-height-from-top});
          width: $udh-sidenav-width;
          z-index: 5;
        }
      }

      .body-container {
        display: flex;
        flex: 1 1 auto;
        margin: 0;

        /deep/ {
          > :not(router-outlet) {
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            display: flex;
            flex: 1;
          }
        }
      }
    }
  }

  .fill {
    flex: 1 1 auto;
    align-items: center;
  }
}

:host(.menu-closed) {
  /deep/ {
    .mat-drawer-container {
      .mat-drawer-content {
        .sidenav-container {
          transform: translateX(-100%);
        }
      }
    }
  }
}