@import './styles/partials/margin-padding';
@import './styles/partials/font-size';
@import './styles/app.theme';

@import "~mdi/css/materialdesignicons.min.css";

a {
  cursor: pointer;
  text-decoration: none;
}

.mdi-30px:before {
  font-size: 30px;
}

.mdi-36px:before {
  font-size: 36px;
}

.full-height {
  height: 100vh;
}

