@import '../../styles/app.variables';

:host {
  z-index: 999;

  .fill {
    flex: 1 1 auto;
  }

  a {
    color: white;
    line-height: 28px;

    &:hover {
      color: #d9edf7;
    }

    md-icon, i {
      font-size: 1em;

      &.brand-icon {
        margin-right: 15px;
      }
    }

    .nav-link .active {
      background-color: rgba(255, 255, 255, 0.75);
      color: black;
    }

    .nav-link {
      padding-left: 15px;
      padding-right: 15px;
    }

    &[md-button] {
      &:hover {
        color: black;
        background-color: whitesmoke;
        text-decoration: none;
      }
    }

    &.navbar-brand {
      padding: 20px 0;
    }
  }

  .navbar {
    border-radius: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
