:host {
  width: 100%;

  /deep/ {
    > .mat-drawer {
      background-color: transparent;
      padding: 10px;
      width: 100%;
      overflow-x: hidden;
      overflow-y: hidden;

      &:hover {
        overflow-y: auto;
      }

      &::-webkit-scrollbar {
        background: transparent;
        width: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background: #bdbdbd;
      }
    }
  }
}
