@import "partials/margin-padding";
@import "partials/font-size";
@import "app.theme";

@import "~mdi/css/materialdesignicons.min.css";

a {
  cursor: pointer;
  text-decoration: none;
}

.mdi-30px:before {
  font-size: 30px;
}

.mdi-36px:before {
  font-size: 36px;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: Roboto;
}
