<div class="row">
  <md-card *ngIf="loginMessage" [class.md-primary]="intendedLogout" [class.md-accent]="!intendedLogout">
    {{ loginMessage }}
  </md-card>
  <md-card *ngIf="loading && !loginMessage" class="md-accent">Checking login credentials...</md-card>
  <div *ngIf="!loading">
    <md-card>
      <md-card-title>Login</md-card-title>
      <icon name="impart" size="xxl" class="impart-logo"></icon>
    </md-card>
    <md-card>
      <button md-raised-button>
        <i class="mdi mdi-google mdi-24px"></i>
        <span>Login with Google</span>
      </button>
    </md-card>
  </div>
</div>
